{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <style type="text/css">
        body {
            margin-top: 70px;
        }
    </style>
    <div class="container">
        <div class="row col-md-auto">
            <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
                <fieldset class="form-group">
                    <legend>Login</legend>
                    {% csrf_token %}
                    {{ user_form | as_bootstrap }}
                    
                     <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
                     
                    <button type="submit" class="btn btn-primary">Login</button>
                </fieldset>
            </form>
        </div>
</div>
    <footer>
      <div class="row">
        <p>
          <span>Copyright © Kambolife | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/policy.png" target="_blank">Privacy Policy</a> | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/terms.PNG" target="_blank">Terms of Use</span>
        </p>
      </div>
    </footer>
{% endblock %}
