{% extends "base.html" %}
{% block content %}
{% load avatar_tags %}

<div class="container">
<style type="text/css">
    body {
        margin-top: 70px;
    }
</style>

        <div class="row row-flex">
            <h2>Success!</h2>
            <p>{% avatar user %}</p>
            <p>You are logged in as <h3>{{ user.username }}</h3> </p>
                <!--<ul>
                    
                  <p>Location: {{ user.profile.location }}<br>
                  Birth Date: {{ user.profile.birth_date }}</p>
                </ul>-->
            <p>
                <ul>
                     <li><a href="{% url 'avatar_change' %}" input type="submit" value="Upload">Change your avatar</a></li>
                </ul>
            </p>
        </div>
</div>

    <footer>
      <div class="row">
        <p>
          <span>Copyright © Kambolife | <a href="">Privacy Policy</a> | <a href="">Terms of Use</span>
        </p>
      </div>
    </footer>

{% endblock %}