{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}


    <div class="hero">
      <div class="overlay"></div>
      <div class="cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(https://s3.eu-west-2.amazonaws.com/kambo-site/img/bg.png);">
        <div class="desc animate-box">
          <h2>Traditional <strong>Kambo</strong> Ceremony</h2>
          <p><a class="btn btn-primary btn-lg btn-learn" href="/faqs/">Learn More</a> <a class="btn btn-primary btn-lg popup-youtube btn-video" href="https://youtu.be/aJYK5N8TJb4" target="_blank"><i class="icon-play"></i> Watch Video</a></p>
        </div>
      </div>
    </div>

<br><br>
    <!-- Page Content -->


<div class="container">
   <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
           <a href="/products/" target="_parent"><img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/kambo-site/media/img/kambo-set1-small.jpg" width="100%" alt="Kambo frog"></a>
            <div class="card-body">
              <h4 class="card-title">Kambo treatments</h4>
              <p class="card-text">Kambo is a medicine that comes from the green tree frog secretion.<br>
              For many indigenous cultures in the Amazon, this purgative, immunity-boosting medicine is very important.</p>
            </div>
            <div class="card-footer">
              <a href="/products/" tagret="_parent" class="btn btn-primary">Book now!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/kambo-site/media/img/kambo-frog.png" width="100%" alt="Kambo frog">
            <div class="card-body">
              <h4 class="card-title">What is Kambo?</h4>
              <p class="card-text">Kambo is a secretion produced by the green tree frog Phyllomedusa  Bicolor also known as Sapo ,and live in Amazonian Rainforests.<br>
              International scientific research has been conducted on the properties of Kambo since the 1980´s. The studies have found that Kambo frog venom is made up of many peptides that are strengthening and healing to the human body and immune system, whilst physically destroying pathogenic microorganisms.<br>
              It has strong natural anti-inflammatory, antibiotic, antimicrobial and anaesthetic substances.</p>
            </div>
            <div class="card-footer">
              <a href="/faqs/7/" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top grow" src="https://s3.eu-west-2.amazonaws.com/kambo-site/media/img/KamboPointsAngelWings.jpg" width="100%" alt="Kambo frog">
            <div class="card-body">
              <h4 class="card-title">Is Kambo safe?</h4>
              <p class="card-text">Yes, if it has been taken safely, with a trained practitioner and that all the health questions are answered honestly in the initial screening.</p>
            </div>
            <div class="card-footer">
              <a href="/faqs/3/" class="btn btn-primary">Find Out More!</a>
            </div>

          </div>
        </div>

      </div>
      <!-- /.row -->


   <br><br>

 <div class="row" id="bottom-content">
        <div class="col-lg-3">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="https://s3.eu-west-2.amazonaws.com/kambo-site/media/img/kambo-frog.png" class="img-responsive" alt="frog">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">KAMBO FROG</h3>
                                <p>What is Kambo?...</p>
                                <a class=" btn btn-default" href="/faqs/7/"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                            </div>
                        </div>
                    </div>
                
        </div>
       <div class="col-lg-3">
                    <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                        <p style="text-align:center; margin-top:20px;">
                            <img src="https://s3.eu-west-2.amazonaws.com/kambo-site/media/img/kambo-frog-oposed.png" class="img-responsive" alt="frog">
                        </p>
                        <div class="caption">
                            <div class="blur"></div>
                            <div class="caption-text">
                                <h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">KAMBO FROG</h3>
                                <p>What are the Kambo benefits?...</p>
                                <a class=" btn btn-default" href="/faqs/6/"><span class="glyphicon glyphicon-plus"> INFO</span></a>
                            </div>
                        </div>
                    </div>
                
        </div>
          

        <div class="col-lg-3 col-md-6">
            <h3>Categories:</h3>
                <ul>
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/products/"><i class="fa fa-shopping-cart"></i> Shop</a></li>
                <li><a href="/faqs/"><i class="fa fa-question-circle"></i> FAQs</a></li>
                <li><a href="/about/"><i class="fa fa-user"></i> About</a></li>
                <li><a href="/contact/"><i class="fa fa-envelope-square"></i> Contact</a></li>
                <li><a href="/accounts/register/"><i class="fa fa-check-circle"></i> Register</a></li>
                <li><a href="/accounts/login/"><i class="fa fa-windows"></i> Login</a></li>
                </ul>
         </div>

         <div class="col-lg-3 col-md-6">
                <h3>Contact:</h3>
                <p>Have any questions or feedback? Please contact me!</p>
                <p><a href="mailto:vieiraa360@gmail.com" title="Contact me!"><i class="fa fa-envelope"></i> Email me!</a></p>
          </div>



            <div>  
                <h3>Follow:</h3>           
                  <a href="http://twitter.com" id="gh" target="_blank" title="Twitter">
                    <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                  </span>
                Twitter</a>

                  <a href="http://facebook.com/" target="_blank">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square-o fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x"></i></span>Facebook</a>
            </div>


           <div id="twitter-share">

            <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          </div>

        <br/>

 </div>

</div>

    <!-- /.container -->
    <footer>
      <div class="row">
        <p>
          <span>Copyright © Kambolife | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/policy.png" target="_blank">Privacy Policy</a> | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/terms.PNG" target="_blank">Terms of Use</span>
        </p>
      </div>
    </footer>


{% endblock %}