{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
<div class="container">
        <style type="text/css">
            body {
                margin-top: 70px;
            }
        </style>
        <div class="row col-md-auto">
        <h1>New Testimonial</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button type="submit" class="btn btn-info">Save</button>
        </form>
   </div>
</div>
    <footer>
      <div class="row">
        <p>
          <span>Copyright © Kambolife | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/policy.png" target="_blank">Privacy Policy</a> | <a href="https://s3.eu-west-2.amazonaws.com/kambo-site/media/images/terms.PNG" target="_blank">Terms of Use</span>
        </p>
      </div>
    </footer>
{% endblock %}